.container
  .col-md-12
    %h4 Address book
    %hr/
    .btn-toolbar
  = link_to "New Address", new_address_path, class: "button btn btn-info"
  = link_to_next_page @addresses, ''
  .card.card-body.bg-light
    %table.table.table-hover
      %thead.thead-dark
        %tr
          %th Company
          %th Title
          %th Address
          %th
      %tbody
        - @addresses.each do |address|
          %tr
            %td= address.company
            %td= address.title
            %td= "#{address.street_name}, #{address.city}, #{address.country}, #{address.postal_code}, #{address.phone_number}"
            %td.text-right
              = link_to "Review", address, class: "button btn btn-secondary"
              = link_to "Edit", edit_address_path(address.id), class: "button btn btn-info"
              = link_to "Delete", address_path(address.id), method: :delete, data: { confirm: "Are you sure?" }, class: "button btn btn-danger"
  = paginate @addresses