.div.container
  .row
  .col-md-12
    %h4 Address book
    .text-right
      =link_to "Go Back", root_path, {class: "button btn btn-secondary", :style => "margin-top:-30px"}
    %hr/
    %h5 Add contact
    = simple_form_for @address do |f|
      .form-group
        = f.input :company
      .form-group
        = f.input :title
      .form-group
        = f.input :street_name
      .form-group
        = f.input :city
      .form-group
        = f.input :country
      .form-group
        = f.input :postal_code
      .form-group
        = f.input :phone_number
      %button.btn.btn-primary{:type => "submit"} Submit