.container
  .row
    .col-md-12
      %h4 Contact Information
      .text-right
        = link_to "Go Back", root_path, {class: "button btn btn-primary btn-square", :style => "margin-top:-60px"}
        = link_to "Delete", address_path(@address.id), method: :delete, data: { confirm: "Are you sure?" }, class: "button btn btn-danger btn-square", :style => "margin-top: -60px"
      %hr/
      .card.card-body.bg-light
        .h4
          = @address.company
        .p 
          = @address.company
        .p
          = @address.title
        .p
          = "#{@address.street_name}, #{@address.city}, #{@address.country}, #{@address.postal_code}, #{@address.phone_number}"
        .p
          = @address.country
        .p
          = @address.phone_number