%html
  %head
    %title Address Book
    = csrf_meta_tag
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'application.js'
    = stylesheet_link_tag 'application.css'
    %link{href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin: "anonymous"}
  %body
    = yield
.alert.alert-success.fade.fixed-top.col-2.offset-md-9
  %strong Success!
  Text was succesfully copied.